@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:ital,wght@0,100;1,300;1,500;1,700&display=swap");

:root {
    --text-color: #1C1C1C;
    --icon-color: #676767;
    --background-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color);
}

div {
    display: block;
}

img {
    vertical-align: middle;
    border-style: none;
}



.sectionContainer__3a, 
.sectionContent__2 {
    -webkit-box-pack: center;
    justify-content: center;
}

.sectionContainer__3a {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.sectionContent__2 {
    padding: 0 12px;
}

@media (min-width: 768px) {
    .sectionContent__2 {
        padding: 0 36px;
    }
}

@media (min-width: 992px) {
    .rootContainer__1 {
        // margin-top: -88px;
    }
    .sectionContent__2 {
        padding: 0 40px;
    }
}
