.search-container {
    display: none;
    width: 360px;
    min-height: 398px;
    position: absolute;
    top: 16vh;
    background-color: white;
    border-radius: 4px;
    padding: 48px 24px 24px;
    margin: 0 40px;
    border: 1px solid #e5e9f0;
    z-index: 1;
}


.search-text {
    margin-bottom: 24px;
    height: 172px;

    .search-greating {  
        display: block;
        font-size: 24px;
        line-height: calc(4/3);
        font-weight: 600;
    }
    
    .search-heading {
        display: block;
        font-size: 3.4rem;
        line-height: 1.4;
        font-weight: 600;
    }
}


.input-search {
    display: flex;
    align-items: center;
    width: 310px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #c5c5c5;

    .map-icon__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;
        width: 43px;
        &:hover {
            cursor: pointer;
        }

        .map-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
            background-color: #ee6352;
            border-radius: 50%;
            color: #ffffff;
            font-size: 10px;
        }

    }
    .search-input{
        height: 34px;
        width: 212px;
        font-size: 1.6rem;
        color: #acacac;
    }

    .location-icon__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
        }

        .location-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
        }
    }

}

.search-button__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    
    .search-button{
        width: 310px;
        height: 50px;
        padding: 0 5px;
        background-color: #00b14f;
        border-radius: 6px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        &:hover {
            cursor: pointer;
            opacity: 0.9;
            transition: opacity 0.2s;
        }
    }
}