

.background-border{
    position: relative;
    display: flex;
    height: 0px;
    width: 100%;
    margin: 80px 0 16px 0;
    border: 1px solid #e5e9f0;
    z-index: 1;
}

.body-container__wrapper {
    position: relative;
    display: flex;
    z-index: 1;
    padding-top: 48px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    .body-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 992px;
        padding: 0 40px;

        .body-heading__wrapper {         
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }
        .body-heading {
            margin-bottom: 48px;
            height: 48px;
            .green-text{
                color: #00b14f;
            }
        }

        .food-slide {
            
        }

    }
}

.btn {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    .btn-link{
        padding: 0px;
        

        .btn-1{
            width: 100%;
            display: inline-block;
            font-weight: 700;
            line-height: 1,5;
            text-align: center;
            padding: 0 15px;
            font-size: 14px;
            border-radius: 6px;
            height: 48px;
            color: var(--icon-color);
            background-color: #fff;
            border: 1px solid var(--icon-color);
            &:hover {
                cursor: pointer;
                color: #00b14f;
                border: 1px solid #00b14f;
            }
        }
    }
}

.sectionContainer__wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 60px;
    justify-content: center;
}

.sectionContainer {
    position: relative;
    padding-top: 48px;
    padding-bottom: 28px;
}


.content {
    position: relative;
    display: flex;
    width: 100%;

}

